<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.{{PROJECT_NAME}}.agent-monitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{LOCAL_PROJECT_DIR}}/bin/{{PROJECT_NAME}}-agent-monitor</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{LOCAL_PROJECT_DIR}}/log/launchd-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{LOCAL_PROJECT_DIR}}/log/launchd-stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
